* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}







/* <!-- top menu start --> */

.top_menu {
    background-color: #FEF7F6;
    padding: 8px 0;
}


.left-top-header ul li a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
}

.right-top-header ul li a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
}


.right-top-header span {
    font-size: 12px;
    font-weight: 600;
}


/* <!-- top menu end --> */







/* <!-- main header part start --> */



.header_content h1 {
    font-size: 35px;
    font-weight: 700;
}

.header_content ul li a {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    transition: .3s;
}


.header_content ul li a:hover {
    color: red;
    transform: scale(1.12);
}


.header_custom a i {
    color: #000;
    font-size: 18px;
    margin-left: 6px;
    transition: .3s;
}

.header_custom a i:hover {
    color: red;
    transform: scale(1.10);
}

/* <!-- main header part end --> */


/* <!-- banner item start  --> */

.banner_custom {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.banner-left-col {}

.banner-left-col p {
    font-weight: 500;
    font-size: 16px;
    color: #565656;
    text-transform: uppercase;
}

.banner-left-col h1 {
    font-weight: 500;
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.btn_custom a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    border: none;
    border: 1px solid #FF5353;
    padding: 5px 30px;
    background-color: #FF5353;
    border-radius: 5px;
    transition: .4s all ease;
}

.btn_custom a:hover {
    background-color: transparent;
    color: #FF5353;
    transform: scale(1.05);

}

/* <!-- feature item start --> */

.feature_content h1 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
    text-align: center;

}

.feature_deatails p {
    color: #888888;


}

.feature_deatails h4 {
    color: #000;

    margin-bottom: 100px;
    font-size: 17px;
}

.star {
    color: #ff4949;


    font-size: 13px;

}



.product_icon {
    position: absolute;
    bottom: 0;
    left: 23%;
    right: 0;
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: hidden;
}

.product_item:hover .product_icon {
    height: 25%;
}


.product_icon i {
    margin-right: 40px;
    padding: 15px;
    background-color: #ffff;
    color: #000;
    border-radius: 50px;
    transition: .3s;
}

.product_icon i:hover {
    background: #FF5353;
    color: #fff;
}

.product_item img {
    cursor: pointer;
    transition: .4s;
}

.product_item img:hover {
    background-color: red;
    opacity: 0.7;

}



/* <!-- feature item end --> */


/* <!-- collection itam start --> */

.collection {
    background-color: #F7F2EC;
    padding: 5px 0;

}

.collection-left-col h1 {
    color: #000;
    font-size: 105px;
    font-family: 'Dancing Script', cursive;


}

.collection-left-col p {
    color: #4a4a4a;
    font-size: 45px;
    font-weight: 200;
}

/* <!-- collection itam end --> */


/* <!-- tranding item start --> */


.popular {
    padding: 80px 0;
}

.popular h1 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.popular_details p {

    color: #888888;
}

.popular_details h4 {

    font-size: 17px;
}

.star_2 {

    font-size: 13px;
    color: #ff4949;
}

.popular_icon {
    position: absolute;
    bottom: 0;
    left: 23%;
    right: 0;
    margin: 0 auto !important;
    height: 0;
    overflow: hidden;
    transition: .3s;

}

.popular-col:hover .popular_icon {
    height: 25%;
}


.popular_icon i {
    margin-right: 18px;
    padding: 12px;
    background-color: #ffff;
    color: #000;
    border-radius: 40px;
    transition: .3s;
}

.popular_icon i:hover {
    background: #FF5353;
    color: #fff;
}


.popular-col img {
    cursor: pointer;
    transition: .3s;
}

.popular-col img:hover {
    background-color: red;
    opacity: 0.7;
}


/* <!-- tranding item end --> */

/* <!-- box item start --> */

.box_custom {
    box-shadow: rgb(226 226 226) 2px 3px 9px 1px;
    padding: 20px;
    transition: .4s;
    cursor: pointer;
}

.box_custom:hover {
    box-shadow: rgb(226 226 226) 2px 3px 9px 6px;
    transform: scale(1.01);
}

.box_custom h3 {
    font-size: 16px;
    font-weight: 600;
}

.box_custom p {}



/* <!-- box item end --> */

/* <!-- silon item start --> */


.silon__content {
    padding: 80px 0;
}

.silon_heading h1 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
}


.silon_custom {
    cursor: pointer;
    transition: .4s;
}


.silon_custom:hover {
    transform: scale(0.95);
}

.underline {
    background-color: #ff4949;
    width: 15px;
    height: 5px;
    margin-bottom: 4px;
    border-radius: 200px;
}

.silon_custom p {
    color: #888888;
}

.silon_custom h2 {
    color: #000;
    font-size: 20px;
}




.comment a {
    text-decoration: none;
    margin-right: 40px;
    color: #888888;
    transition: .4s;
    font-weight: 400;
}

.comment a p:hover {
    color: #ff4949;
}

/* <!-- silon item end --> */

/* <!-- follow part start --> */



.follow {
    padding: 80px 0;
}

.follow_heading h1 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
}



.follow_custom {
    cursor: pointer;

}


.foloow_overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FF5353;
    opacity: 0;
    transition: .4s;
}

.follow_custom:hover .foloow_overlay {
    opacity: 1;
}



.follow_icon {
    color: #fff;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}


.follow_icon:hover {
    color: #fff;
}

/* <!-- follow part end --> */

/* <!-- footer item start --> */

footer {
    background-color: #E9E2D8;
    padding: 80px 0;
}

.footer_custom {}

.footer_custom p {
    font-weight: 400;
    font-size: 16px;
    color: #888888;
    transition: .4s;
}

.footer_custom p:hover {
    color: #000;
}

.footer_custom h1 {
    font-size: 19px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}


footer {
    padding: 80px 0 0 0;
    background-color: #e9e2d8;
}

.footer_custom h2 {
    font-weight: 700;
    font-size: 19px;
    color: black;
}

.footer_custom ul li a {
    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #888888;
}

.footer-all-links li a:hover {
    color: black;
}






.mobile-app {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #fff;
    transition: 0.3s;
}

.mobile-app i {
    color: #ff5353;
    transition: 0.3s;
}

.mobile-app:hover {
    background-color: #ff5353;
    color: #fff;
}

.mobile-app:hover i {
    color: #fff;
}

.android {
    padding: 5px 5px;
}

.apple {
    padding: 5px 10px;
}



.get-it-on {
    font-size: 13px;
}

.mobile-icon i {
    font-size: 25px;
}

.play-store {
    font-size: 14px;
}

.footer-follow-us {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.footer-social-icon i {
    color: black;
    padding: 15px;
    background-color: #fff;
    transition: 0.3s;
}

.footer-social-icon i:hover {
    color: #fff;
    background-color: #ff5353;
}

.footer-bottom {
    padding: 15px 0;
}

.footer-bottom p {
    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #888888;
}

.footer-bottom a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ff5353;
}











/* <!-- footer item end --> */